.message {
    width: 370px;
    height: auto;
    font-weight: bold;  
    margin: 40px auto ;
}

.message p {
    text-align: justify;
    color: white;
    font-size: 20px;
    padding: 20px;
    
}

.image_message{
display: flex;
justify-content: center;
align-items: center;
}