.validate {
  width: 150px;
  height: 70px;
  margin: auto;
 
}

button {
  border-radius: 8px;
  font-size: 25px;
  border: none;
  width: 100%;
  height: 100%;
  color: white;
  cursor: pointer;
}


